.modal__text {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 12px;
  transform: translate (-50%, -50%);
  font-family: roboto;
  font-weight: $boldweight;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $maindark;
}

.modal__submit {
  padding: 10px 55px;
  display: block;
  margin: 20px auto 0;
  background-color: $accentbright;
  color: $mainbright;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__submit:hover,
.modal__submit:focus {
  color: $accentbright;
  background-color: $accentbackground;
  border: solid 1px $accentbright;
}

.modal__label {
  font-family: roboto;
  font-weight: $lightweight;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: $mainmid;
  display: block;
  margin-bottom: 8px;
}

.modal__box {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 448px;
  cursor: pointer;
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: $lightweight;
  font-size: 12px;
  line-height: calc(12 / 14);
  color: $mainmid;
}
.modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 448px;
  cursor: pointer;
  padding: 15px 0 15px 15px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: $lightweight;
  font-size: 12px;
  line-height: calc(12 / 14);
  color: $mainmid;
  resize: none;
}
.modal__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: $lightweight;
  font-size: 12px;
  line-height: calc(12 / 14);
  color: $mainmid;
}

.modal__box:hover,
.modal__box:focus,
.modal__comment:hover,
.modal__comment:focus {
  border-color: $accentbright;
  outline: none;
}

.modal-link {
  color: $accentbright;
  cursor: pointer;
}

.checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: $lightweight;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: $mainmid;
  letter-spacing: 0.03em;
}

.checkbox__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect (0 0 0 0);
}

.checkbox__wrapper {
  height: 15px;
  width: 16px;
  border: 1px solid $mainmid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.checkbox__text:hover,
.checkbox__text:focus {
  cursor: pointer;
}
.checkbox__icon {
  fill: $mainbright;
}

.checkbox__hidden:checked + .checkbox__text > .checkbox__wrapper {
  background-color: $accentbright;
  border: none;
}

.modal__background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  animation-name: modal-animation;
}

.modal {
  position: absolute;
  background-color: $mainbright;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modal-animation;
  animation-duration: $time;
  animation-timing-function: $cubic;
}
