.modal__button-icon {
  fill: var(--maindark);
  left: 22.22%;
  right: 16.67%;
  top: 16.67%;
  bottom: 22.22%;
}

.modal__field {
  margin-left: 40px;
  margin-bottom: 10px;
}

.modal__form {
  position: relative;
}
.modal__wrapper {
  display: block;
  position: relative;
}

.checkbox__text {
  display: flex;
  align-items: center;
}
.modal__button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--maindark);
  background-color: var(--mainbright);
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__button:hover.modal__button:focus {
  cursor: pointer;
}
.modal__button-icon {
  fill: var(--maindark);
  left: 22.22%;
  right: 16.67%;
  top: 16.67%;
  bottom: 22.22%;
}
.modal__icon {
  position: absolute;
  top: 16px;
  left: 12px;
  fill: var(--mainmid);
}
.modal__box:hover + .modal__icon,
.modal__box:focus + .modal__icon {
  fill: $accentbright;
}
